/*
Theme Name: Test Theme
Author: Test Author
Author URI: www.test.test
Version: 1.0
*/
*
{
	margin: 0;
	padding: 0;	
}

body
{
	min-width: 980px;
	font-size: 13px;
	
	font-family: Arial, Helvetica, sans-serif;
	background: none;
	background-position: 0 132px;
}

body.custom-background
{
	background-position: 0 132px !important;
}

div
{
	display: block;
}

a, a:active, a:visited
{
  color: #004d8b;
  text-decoration: none;
}

#linkbar_container
{
	height: 30px;
	width: 100%;
	background-color: #262626;
}

#linkbar
{
	width: 980px;
	height: inherit;
	margin: 0 auto;
}

.link-navigation ul li
{
	list-style: none;
	float: left;	
}

.link-navigation ul li a
{
	display: block;
	height: 30px;
	margin-right: 5px;
	
	text-decoration: none;
	color: #eeeeee;
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
}

.link-navigation ul li a:link,
.link-navigation ul li a:visited
{
	
}

.link-navigation ul li a:hover
{
	background-color: #BBB;	
}

/* Banner */

#banner
{
	height: 59px;
	border-top:: 1px solid #292929;
	border-bottom: 1px solid #353535;
	
	background-image: -webkit-linear-gradient(top, #3d3d3d, #303030);
	background-image: -moz-linear-gradient(top, #3d3d3d, #303030);
	background-image: -o-linear-gradient(top, #3d3d3d, #303030);
	background-image: -linear-gradient(top, #3d3d3d, #303030);
	
	/*background-color: #383838;*/
	
	/*
	background-image: -webkit-linear-gradient(#262626, #5C5850, #2a2a2a);
	background-image: -moz-linear-gradient(#262626, #5C5850, #2a2a2a);
	background-image: -o-linear-gradient(#262626, #5C5850, #2a2a2a);
	background-image: -linear-gradient(#262626, #5C5850, #2a2a2a);
	*/
}

#banner > div
{
	width: 980px;
	margin: 0 auto;
}

#logo
{
	float: left;
	height: 50px;
	margin: 5px 0 5px 0;
}

#banner img
{
	width: auto;
	max-height: 40px;
	vertical-align: middle;
}

.share, .login
{
	float: right;
	height: 50px;
}

.share > div
{
	margin-top: 13px;
	margin-right: 20px;
}

/* Login */

#loginwrapper
{
	width: 240px;
	height: 30px;
	margin: 5px;
	padding:7px 5px 5px 5px;
	background-color: #262626;
	border-radius: 4px;
	box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.2), inset 0 2px 0 rgba(0, 0, 0, 0.2);
}

#loginwrapper form
{
	display: block;
	font-size: 14px;
	width: inherit;
	float: right;
	height: 30px;
}

.login input
{
	width: 90px;
	height: 22px;
	background-color: #f5f5f2;
	border: none;
	border-radius: 4px;
	margin: 0px 2px 0px 2px;
	padding: 2px 3px;
}

.login input[type="submit"]
{
	width: 22px;
	height:22px;
	background-color:#9D9D9D;
}


.navigation-container
{
	height: 40px;
	background-image: -webkit-linear-gradient(top, #2a2a2a 20%, #252525);
	border-bottom: 1px solid #5C5850;
}

#site-navigation
{
	font-size: 14px;
	width: 980px;
	margin: 0 auto;
}

#site-navigation ul li
{
	list-style: none;
	float: left;
	margin-right: 25px;
}

#site-navigation ul li:last-of-type
{
	margin-right: 0;
}

#site-navigation ul li a
{
	display: block;
	
	height: 45px;
	line-height: 45px;
	
	text-decoration: none;
	color: #eeeeee;
	font-weight: bold;
	font-size: 15px;
}

#site-navigation ul li a:hover,
li.current-menu-item a
{
	color: rgb(170,204,238) !important;
}

#content
{
	margin: auto;
	margin-top: 40px;
	width: 940px;
	background-color: #262626;
	border-radius: 15px;
	padding: 20px 20px;
	
	border: 1px solid #5C5850;
	
	color: #eeeeee;
}